<div class="home">
  <div class="container">
    <a class="card">
      <div class="inner">
        <h2 class="title">TIMELESS ELEGANCE</h2>
        <p>The Ferrari Roma, the new mid-front-engined 2+ coupé of the Prancing Horse, features refined proportions and
          timeless design combined with unparalleled performance and handling. With its distinctive flair and style, the
          car is a contemporary representation of the carefree, pleasurable way of life that characterised Rome in the
          1950s and ‘60s.</p>
        <time class="subtitle">09 October 1999</time>
        <button class="readBtn" transloco="read more"></button>
      </div>
    </a>

    <a class="card card2">
      <div class="inner">
        <h2 class="title">SF90 SPIDER: AN OPEN-AIR SUPERCAR</h2>
        <p>As the Prancing Horse’s first production plug-in hybrid spider, the SF90 Spider sets new performance and
          innovation benchmarks not only for the marque’s range, but for the entire sports car sector. The new
          convertible has the same extreme supercar specification and record-breaking performance as the SF90 Stradale
          yet also adds further driving pleasure and versatility to the mix, thanks to the latest iteration of Ferrari’s
          signature Retractable Hard Top architecture. This makes the SF90 Spider the ideal car for owners that demand
          the very pinnacle of Ferrari technology, but still want the thrill and versatility of open-top driving.</p>
        <time class="subtitle">10 September 2022</time>
        <button class="readBtn" transloco="read more"></button>
      </div>
    </a>

    <a class="card card3">
      <div class="inner">
        <h2 class="title">FERRARI DAYTONA SP3 A SPORTS PROTOTYPE SOUL</h2>
        <p>At the 1967 24 Hours of Daytona, Ferrari took the top three places in the first round of the International
          World Sports Car Championship. The 330 P3/4, 330 P4 and 412 P that famously shot past the chequered flag side
          by side perfectly encapsulated the spirit of the sports prototypes of the 1960s, a decade now considered the
          golden era of closed wheel racing. The Ferrari Daytona SP3, the second car to join the limited edition Icona
          series, pays homage to the mid-rear-engined Ferrari V12 sports prototypes that earned the marque its
          unparalleled motor sport status.</p>
        <time class="subtitle">01 December 2023</time>
        <button class="readBtn" transloco="read more"></button>
      </div>
    </a>
  </div>
</div>
